<h1>New Appearance</h1>

<h2><%= form_for @appearance do |f|%>
        <%= f.label "Guest"%>
        <%= f.collection_select :guest_id, @guests, :id, :name %>

        <%= f.label "Episode"%>
        <%= f.collection_select :episode_id, @episodes, :id, :number %>

        <%= f.label :rating%>
        <%= f.number_field :rating%>

        <%=f.submit%>
    <%end%>
</h2>    


<%if flash[:errors]%>
    <% flash[:errors].each do |message|%>
		<%=message%>
	<%end%>
<%end%>